## Harjoitustyö - Miika Toukola, Datan esikäsittely TTC8030-3007 kevät 2023

## Vaihe 1 - some info on recent trains into a DataFrame

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests

junaturl =  "https://rata.digitraffic.fi/api/v1/live-trains"
asema = "/station/HKI"
parametrit = "?arrived_trains=10&departed_trains=10&include_nonstopping=false"

req = requests.get(url=junaturl+asema+parametrit)

#req.status_code

junadata_json = req.json()

print(len(junadata_json))

30

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [2]:
import pandas as pd

junadata = pd.DataFrame.from_dict(junadata_json)
junadata.head()

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,38,2023-03-06,10,vr,IC,Long-distance,,False,False,285054541482,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'OL', 'stationUICCode': ..."
1,66,2023-03-06,10,vr,S,Long-distance,,False,False,285054563062,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'OL', 'stationUICCode': ..."
2,959,2023-03-06,10,vr,IC,Long-distance,,True,False,285054552532,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
3,8128,2023-03-06,10,vr,HL,Commuter,A,False,False,285054518283,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
4,8130,2023-03-06,10,vr,HL,Commuter,A,True,False,285054565817,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [3]:
junadata.drop(junadata.iloc[:, 1:12], inplace=True, axis = 1)
junadata.head()

   trainNumber                                      timeTableRows
0           38  [{'stationShortCode': 'OL', 'stationUICCode': ...
1           66  [{'stationShortCode': 'OL', 'stationUICCode': ...
2          959  [{'stationShortCode': 'HKI', 'stationUICCode':...
3         8128  [{'stationShortCode': 'LPV', 'stationUICCode':...
4         8130  [{'stationShortCode': 'LPV', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [4]:
#punadata = pd.DataFrame(columns= ['trainNumber']+list(junadata.iloc[0,1][0].keys()) )

def upgo (f):
    upgodf = pd.DataFrame.from_dict(f[1])
    upgodf['trainNumber'] = f[0] 
    global punadata #begrudgingly
    punadata = pd.concat([punadata,upgodf])    

punadata = pd.DataFrame.from_dict(junadata.iloc[0,1])
punadata['trainNumber'] = junadata.iloc[0,0]

junadata.iloc[1:,:].apply(upgo,axis=1)

print('The length of the new DataFrame is {0} rows.'.format(len(punadata.index)))

punadata.reset_index(inplace=True,drop=True)
#print(punadata.columns.values)

punadata.sample(5)

The length of the new DataFrame is 1474 rows.

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
1097,OLK,15,FI,ARRIVAL,True,True,3,False,2023-03-06T13:44:30.000Z,NaN,0.0,[],8881,NaN,2023-03-06T13:44:30.000Z,COMBOCALC
440,VMO,847,FI,DEPARTURE,True,True,3,False,2023-03-06T13:21:30.000Z,2023-03-06T13:21:51.000Z,0.0,[],8128,NaN,NaN,NaN
994,LEN,1332,FI,DEPARTURE,True,True,2,False,2023-03-06T12:54:00.000Z,2023-03-06T12:56:23.000Z,2.0,[],8872,NaN,NaN,NaN
1218,SAV,555,FI,DEPARTURE,True,True,4,False,2023-03-06T13:03:30.000Z,2023-03-06T13:03:48.000Z,0.0,[],9164,NaN,NaN,NaN
1114,ASO,1340,FI,DEPARTURE,False,NaN,,False,2023-03-06T13:59:30.000Z,NaN,0.0,[],8881,NaN,2023-03-06T13:59:45.000Z,COMBOCALC

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [5]:
punadata.drop(['causes','estimateSource','liveEstimateTime','differenceInMinutes','commercialStop','trainReady'], inplace=True, axis = 1)
punadata.tail()

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
1469,HKI,1,FI,ARRIVAL,True,6,False,2023-03-06T13:43:00.000Z,NaN,64132
1470,ILR,1030,FI,DEPARTURE,True,801,False,2023-03-06T13:17:00.000Z,2023-03-06T13:19:02.000Z,64424
1471,PSL,10,FI,ARRIVAL,False,7,False,2023-03-06T13:27:00.000Z,2023-03-06T13:23:47.000Z,64424
1472,PSL,10,FI,DEPARTURE,False,7,False,2023-03-06T13:27:00.000Z,2023-03-06T13:23:52.000Z,64424
1473,HKI,1,FI,ARRIVAL,True,8,False,2023-03-06T13:32:00.000Z,2023-03-06T13:34:18.000Z,64424

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [6]:
punadata['actualTime'] = punadata['actualTime'].fillna(punadata['scheduledTime'])
punadata.tail()

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
1469,HKI,1,FI,ARRIVAL,True,6,False,2023-03-06T13:43:00.000Z,2023-03-06T13:43:00.000Z,64132
1470,ILR,1030,FI,DEPARTURE,True,801,False,2023-03-06T13:17:00.000Z,2023-03-06T13:19:02.000Z,64424
1471,PSL,10,FI,ARRIVAL,False,7,False,2023-03-06T13:27:00.000Z,2023-03-06T13:23:47.000Z,64424
1472,PSL,10,FI,DEPARTURE,False,7,False,2023-03-06T13:27:00.000Z,2023-03-06T13:23:52.000Z,64424
1473,HKI,1,FI,ARRIVAL,True,8,False,2023-03-06T13:32:00.000Z,2023-03-06T13:34:18.000Z,64424

## Vaihe 2 - reading data from a file into the DataFrame using regex

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [7]:
import re

f = open('data.html', 'r')
txt = f.read()
f.close()

headpattern = r'<th>([^<]*)<\/th>'
headers = re.findall(headpattern,txt)
#headers

rowpattern = r'<tr(?:[^>])*>\s*((?:<td>[^<]*<\/td>\s*)+)'
rows = re.findall(rowpattern,txt)
#rows

#cellpattern = r'<td>([^<]*)<\/td>'
cellpattern = r'<td>\s*([^<\n]*)\s*<\/td>'
#cell = re.findall(cellpattern,rows[0])
#cell

rowed = list(map(lambda row: re.findall(cellpattern,row),rows))
rowed

funadata = pd.DataFrame( rowed, columns=headers )
funadata

punadata = pd.concat([punadata,funadata])
punadata.reset_index(inplace=True,drop=True)
punadata.tail()

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
1472,PSL,10,FI,DEPARTURE,False,7,False,2023-03-06T13:27:00.000Z,2023-03-06T13:23:52.000Z,64424
1473,HKI,1,FI,ARRIVAL,True,8,False,2023-03-06T13:32:00.000Z,2023-03-06T13:34:18.000Z,64424
1474,JVS\t,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1475,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1476,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337

## Vaihe 3 - converting and saving the DataFrame as an SQLite file

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [8]:
import sqlite3

database_connection  = sqlite3.connect("junat.db")
c = database_connection.cursor()

c.execute("""CREATE TABLE if not exists junadata (stationShortCode, stationUICCode, countryCode, type, trainStopping, commercialTrack, cancelled, scheduledTime, actualTime, trainNumber)""")

# stationShortCode, stationUICCode, countryCode, type, trainStopping, commercialTrack, cancelled, scheduledTime, actualTime, TrainNumber

data_rows = list(punadata.itertuples(index=False,name=None))

for data_row in data_rows:
    c.execute('''INSERT INTO junadata VALUES {0}'''.format(data_row))

database_connection.commit()

data = c.execute('''SELECT * FROM junadata''')
retrieved_data = data.fetchall()
database_connection.commit()
database_connection.close()

retrieved_data[:10]

[('OL',
  370,
  'FI',
  'DEPARTURE',
  1,
  '1',
  0,
  '2023-03-06T07:16:00.000Z',
  '2023-03-06T07:17:17.000Z',
  38),
 ('OLL',
  1351,
  'FI',
  'ARRIVAL',
  0,
  '',
  0,
  '2023-03-06T07:21:00.000Z',
  '2023-03-06T07:21:30.000Z',
  38),
 ('OLL',
  1351,
  'FI',
  'DEPARTURE',
  0,
  '',
  0,
  '2023-03-06T07:21:00.000Z',
  '2023-03-06T07:21:30.000Z',
  38),
 ('KML',
  769,
  'FI',
  'ARRIVAL',
  1,
  '2',
  0,
  '2023-03-06T07:24:00.000Z',
  '2023-03-06T07:24:36.000Z',
  38),
 ('KML',
  769,
  'FI',
  'DEPARTURE',
  1,
  '2',
  0,
  '2023-03-06T07:25:00.000Z',
  '2023-03-06T07:25:14.000Z',
  38),
 ('LKA',
  338,
  'FI',
  'ARRIVAL',
  0,
  '1',
  0,
  '2023-03-06T07:32:00.000Z',
  '2023-03-06T07:32:08.000Z',
  38),
 ('LKA',
  338,
  'FI',
  'DEPARTURE',
  0,
  '1',
  0,
  '2023-03-06T07:32:00.000Z',
  '2023-03-06T07:32:08.000Z',
  38),
 ('TKP',
  1335,
  'FI',
  'ARRIVAL',
  0,
  '',
  0,
  '2023-03-06T07:35:00.000Z',
  '2023-03-06T07:35:04.000Z',
  38),
 ('TKP',
  1335,
  'FI',
  'DEPARTURE',
  0,
  '',
  0,
  '2023-03-06T07:35:00.000Z',
  '2023-03-06T07:35:04.000Z',
  38),
 ('HVN',
  1041,
  'FI',
  'ARRIVAL',
  0,
  '1',
  0,
  '2023-03-06T07:37:00.000Z',
  '2023-03-06T07:36:50.000Z',
  38)]